@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Styles */
body{
  font-family: 'Open Sans', sans-serif;
  max-width: 1600px;
  margin: 0 auto;
  border-left: 2px solid red;
  border-right: 2px solid red;
}

.display-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  padding: 19px 35px;
  cursor: pointer;
}

.info_bold {
  color: #474747;
  font-weight: bold;
}
/* Non shared styles */
header{
  background-image: url(images/developer.png), url(images/header_bg.png);
  background-position: 24px 40px, right bottom;
  background-repeat: no-repeat;
  background-color: #FFF8F3;
}

nav {
  padding:50px 230px 0;
}

nav h1 {
  font-size: 45px;
  font-weight: 800px;
}
nav h1 span {
  color: #FD6E0A;
}
nav ul {
  list-style: none;
  gap: 50px;
}
nav ul li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

.head-section{
  width: 85%;
  max-width: 1335px;
  margin: 45px 0 0 230px;
}
.head-section .intro-text p {
  color: #474747;
  font-size: 45px;
  font-weight: 600px;
}
.head-section .intro-text h2 {
  color: #181818;
  font-size: 85px;
  font-weight: bold;
}
.head-section .intro-text .details {
  color: #757575;
  font-size: 18px;
  margin: 20px 0 30px;
}
.head-section .buttons {
  display: flex;
  gap: 30px;
}
.head-section .buttons .btn2 {
  background-color: transparent;
  color: #FD6E0A;
  border: 2px solid #FD6E0A;
}

.about_me {
  text-align: center;
  background-color: #FFF8F3;
  margin: 130px 230px;
  padding: 131px 157px;
  border-radius: 10px;
}
.about_me h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
.about_me p {
  text-align: center;
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.about_info {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.about_info div p{
  color: #757575;
  font-size: 20px;
  line-height: 3px;
}
