@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  background-color: #02005fd7;
}
/* Shared Styles */
body{
  font-family: 'Open Sans', sans-serif;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.display-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  padding: 19px 35px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info_bold {
  color: #474747;
  font-weight: bold;
}
/* Non shared styles */
header{
  background-image: url(images/developer.png), url(images/header_bg.png);
  background-position: 24px 40px, right bottom;
  background-repeat: no-repeat;
  background-color: #FFF8F3;
}

nav {
  padding:50px 230px 0;
}

nav h1 {
  font-size: 45px;
  font-weight: 800px;
}
nav h1 span {
  color: #FD6E0A;
}
nav ul {
  list-style: none;
  gap: 50px;
}
nav ul li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

.head-section{
  width: 85%;
  max-width: 1335px;
  margin: 45px 0 0 230px;
}
.head-section .intro-text p {
  color: #474747;
  font-size: 45px;
  font-weight: 600px;
}
.head-section .intro-text h2 {
  color: #181818;
  font-size: 85px;
  font-weight: bold;
}
.head-section .intro-text .details {
  color: #757575;
  font-size: 18px;
  margin: 20px 0 30px;
}
.head-section .buttons {
  display: flex;
  gap: 30px;
}
.head-section .buttons .btn2 {
  background-color: transparent;
  color: #FD6E0A;
  border: 2px solid #FD6E0A;
}

.about_me {
  text-align: center;
  background-color: #FFF8F3;
  margin: 130px 230px;
  padding: 131px 157px;
  border-radius: 10px;
}
.about_me h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
.about_me p {
  text-align: center;
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.about_info {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.about_info div p{
  color: #757575;
  font-size: 20px;
  line-height: 3px;
}
.workplace {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.workplace .workplace_text {
  text-align: center;
  max-width: 830px;
  margin-bottom: 50px;
}
.workplace .workplace_text h2 {
  font-size: 35px;
  color: #181818;
  font-weight: bold;
  margin-bottom: 30px;
}
.workplace .workplace_text p {
  font-size: 18px;
  color: #757575;
}
.workplace .cards_parent {
  display: flex;
  gap: 24px;
}
.workplace .cards_parent .cards {
  width: 265px;
  border-radius: 5px;
  box-shadow: 0 6px 50px #0000002a;
  padding: 30px;
}
.workplace .cards_parent .cards img {
  margin-bottom: 30px;
}
.workplace .cards_parent .cards h3 {
  color: #181818;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.workplace .cards_parent .cards p {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
}
.resume {
  margin: 130px 230px;
}
.resume h2 {
  text-align: center;
  color: #181818;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 110px;
}
.resume .resume_parent {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.resume .resume_parent .resume_education h3 {
  color: #474747;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.resume .resume_parent .resume_education .resume_sections {
  margin: 30px 0;
}
.resume .resume_parent .resume_education .resume_sections h4 {
  color: #474747;
  font-size: 25px;
  font-weight: bold;
}
.resume .resume_parent .resume_education .resume_sections p:first-of-type {
  color: #757575;
  font-size: 18px;
  font-weight: 600px;
  margin-bottom: 20px;
}
.resume .resume_parent .resume_education .resume_sections > p:nth-of-type(2) {
  font-size: 16px;
  color: #757575;
  line-height: 28px;
}
.resume .resume_btn {
  margin: 50px auto;
  display: block;
}
.footer {
  background-color: #FFF8F3;
  display: flex;
  justify-content: space-between;
  padding: 130px 230px;
}
.footer_connect {
  max-width: 562px;
}
.footer_connect h2 {
  color: #181818;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer_connect p {
  color: #474747;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
}
.footer_connect .social_icons {
  display: flex;
  gap: 24px;
}
.footer_form {
  max-width: 462px;
  display: block;
}
.footer_form h2 {
  color: #181818;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
.footer_form .form_inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer_form .form_inputs .input {
  width: 462px;
  height: 64px;
  padding: 18px 30px;
  color: #181818;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
}
.footer_form .form_inputs .input::placeholder {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
}
.footer_form .form_inputs .textarea {
  border: none;
  width: 462px;
  height: 180px;
  padding: 18px 30px;
  color: #181818;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 24px;
}
.footer_form .form_inputs .textarea::placeholder {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
}
.footer_form .form_inputs .footer_btn{
  width: 150px;
}